{% extends 'biker/base.html' %}
{% block content %}
    <div class="evento">
        <h1>{{ evento.nombre }}</h1>
        {% if evento.date %}
            <div class="fecha">
                {{ evento.fecha }}
            </div>
        {% endif %}
        <div>
            <h3>punto de partida: {{evento.punto_partida}}</h3>
            <h3>fecha del evento: {{evento.fecha}}</h3>
            <p>ruta del evento: {{evento.ruta}}</p>
	    <p>Descripcion: {{evento.descripcion}}</p>
            {% for grupo in grupos %}
                <p>grupo: {{ grupo }}</p>
            {% endfor %}
	    <td><a class="btn" href="{% url 'biker.views.event_edit' pk=evento.pk %}"><i class = "icon-pencil" ></i>Editar</a></td>
	<td><a class="btn" href="/delete/evento/{{ evento.pk }}"><i class = "icon-pencil" ></i>Eliminar</a></td>
	</div>
    </div>
{% endblock %}
