{% extends 'biker/base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Eventos</div>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="row">
    <a href="{% url 'event-add' %}"><button class="btn"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Nuevo Evento</button></a>
<a href="/search/event/"><button class="btn"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Buscar Evento</button></a>
</div>
<div class="row">
    {% for evento in object_list %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="{{ evento.imagen.url }}" alt="">
                <div class="caption">
                    <h4><a href="{% url 'event-detail' pk=evento.pk %}">{{evento.nombre}}</a>
                    </h4>
                    <p>{{evento.descripcion}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock content %}
