{% extends 'biker/base.html' %}
{% block content %}
<div id="wrapper">
    <div class="page-wrapper">
        <div class="page-title-breadcrumb">
            <div class="page-header pull-left">
                <div class="page-title">Grupos</div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="page-content">
            <a href="/search/group/"><button class="btn"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Buscar Grupo</button></a>

         {% if my_groups %}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#my" aria-controls="my" role="tab" data-toggle="tab">Mis Grupos</a></li>
            <li role="presentation"><a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">Grupos</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="my">
                    <div class="row">
                        <a href="{% url 'group-add' %} "><button class="btn"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Nuevo Grupo</button></a>

                    </div>
                    <div class="row">
                        {% for group in my_groups %}
                        <!--
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="{{ group.imagen.url }}" alt="">
                                    <div class="caption">

                                        <p>{{ group.descripcion }}</p>
                                    </div>
                                </div>
                            </div>
                        -->
                             <div class="col-lg-6">
                                 <div class="panel panel-yellow">
                                     <div class="panel-heading">
                                         <a href="{% url 'group-detail' pk=group.0.pk %}">{{group.0.nombre }}</a>
                                     </div>
                                     <div class="panel-body">
                                         <table class="table table-hover">
                                             <thead>
                                             <tr>
                                                 <th>#</th>
                                                 <th>Usuario</th>
                                                 <th>Fecha de solicitud</th>
                                                 <th>Estado</th>
                                             </tr>
                                             </thead>
                                             <tbody>
                                                {% for solicitude in group.1 %}
                                                     <tr>
                                                         <td>{{forloop.counter}}</td>
                                                         <td>{{ solicitude.user.nombre }}</td>
                                                         <td>{{ solicitude.request_date }}</td>
                                                         <td>
                                                             {% if solicitude.state == 'A' %}
                                                                 <span class="label label-sm label-success">Aprobado</span>
                                                             {% elif solicitude.state == 'R' %}
                                                                 <td><span class="label label-sm label-danger">Bloqueado</span></td>
                                                             {% elif solicitude.state == 'P' %}
                                                                 <td><span class="label label-sm label-info">Pendiente</span></td>
                                                                 {{ var3 }}
                                                             {% endif %}
                                                         </td>
                                                     </tr>
                                                {% endfor %}
                                             </tbody>
                                         </table>
                                     </div>
                                 </div>
                             </div>
                        {% endfor %}
                    </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="groups">
                <div class="col-lg-12">
                    <div class="row">
                        {% for group in object_list %}
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="{{ group.imagen.url }}" alt="">
                                    <div class="caption">
                                        <h4><a href="{% url 'group-detail' pk=group.pk %}">{{group.nombre}}</a>
                                        </h4>
                                        <p>{{ group.descripcion }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>
         {% else %}
            <div class="row">
                {% for group in object_list %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ group.imagen.url }}" alt="">
                            <div class="caption">
                                <h4><a href="{% url 'group-detail' pk=group.pk %}">{{group.nombre}}</a>
                                </h4>
                                <p>{{ group.descripcion }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
         {% endif %}
    </div>
    <div>
    </div>
</div>
{% endblock content %}
