{% extends 'biker/base.html' %}
{% block content %}
    <div class="form-wrapper">
        <h3>Registrar Grupo :</h3>
    <form  class="form-content" action="/registrar/grupo/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div class="options-form">
        <input type="submit" value="Registrar" class="btn btn-default"/>
        <a href="/grupos"><button class="btn btn-default">Cancelar</button></a>
        </div>
    </form>
    </div>
{% endblock %}
