{% extends 'biker/base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Rutas</div>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="row">
    <a href="{% url 'route-add' %}"><button class="btn"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Nueva Ruta</button></a>
<a href="/search/route/"><button class="btn"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Buscar Ruta</button></a>
</div>
<div class="row">
    {% for route in object_list %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="{{ route.imagen.url }}" alt="">
                <div class="caption">
                    <h4><a href="{% url 'route-detail' pk=route.pk %}">{{route.nombre}}</a>
                    </h4>
                    <p>{{route.descripcion}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock content %}
